.wrap {
  width: 345px;
  height: 282px;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  &:hover {
    opacity: 0.8;
  }
}

.image {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px #b3b3b3 solid;
}

.infos_wrap {
  padding: 0 10px 0 10px;
  border: 1px #b3b3b3 solid;
}

.title {
  
}

.text {
  text-align: justify;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  background-color: #F5F5F5;
}
.ripple:hover {
  background: #F5F5F5 radial-gradient(circle, transparent 1%, #F5F5F5 1%) center/15000%;
}
.ripple:active {
  background-color: #ababab;
  background-size: 100%;
  transition: background 0s;
}



